<h2>Neueda Team</h2>
<ul class="team">
    <li *ngFor="let hero of team">
        <button  type="button" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
            {{ hero.fname }}
        </button>
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2>{{ selectedHero.fname }} {{ selectedHero.lname }} Details</h2>
    <div>SOEID: {{ selectedHero.id }}</div>
    <div>Email: <a href="mailto:{{ selectedHero.email }}">{{ selectedHero.email }}</a></div>
    <div>
        <label for="hero-fname">First Name: </label>
        <input id="hero-fname" [(ngModel)]="selectedHero.fname" placeholder="Name">
    </div>
    <div>
        <label for="hero-lname">Last Name: </label>
        <input id="hero-lname" [(ngModel)]="selectedHero.lname" placeholder="Name">
    </div>
    <div>
        <label for="hero-team">Development team: </label>
        <input id="hero-team" [(ngModel)]="selectedHero.devTeam" placeholder="Team Name">
    </div>
</div>