.selected {
    background-color: #F6F6F6;
    color: #0B2F6E;
}

div {
    display: block;
    height: fit-content;
    overflow: hidden;
    border-radius: 6px 6px 0px 0px;
    width: fit-content;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    float: left;
}

h2, h3 {
    color: #EB3223;
    text-shadow: 2px 2px rgba(94, 9, 9, 0.747);
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    text-align: center;
}