#details {
    display: block;
    clear: both;
    padding: 2rem;
    background-color: #F6F6F6;
    border-radius: 0px 8px 8px 8px;
}

h2 {
    /*color: #0B2F6E;*/
    color: #FF0000;
}

label, .label {
    font-weight: bold;
}

h2 {
    margin-top: 0px;
}