/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Roboto&display=swap');

h1 {
    color: #0B2F6E;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 250%;
}

h2, h3 {
    color: #EB3223;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
}

body {
    margin: 2em;
}

body, input[type="text"], button {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button {
    background-color: #2C6DA9;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
}

button:hover {
    background-color: #1B4E7D;
    /*color: white;*/
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

* {
    font-family: 'Roboto', sans-serif;
}